<p id="notice"><%= notice %></p>

<h1>User Stores</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stores.each do |user_store| %>
      <tr>
        <td><%= link_to 'Show', user_store %></td>
        <td><%= link_to 'Edit', edit_user_store_path(user_store) %></td>
        <td><%= link_to 'Destroy', user_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Store', new_user_store_path %>
