<h4>Todo</h4>
<ul>
  <li>Montar calendário dinamicamente (erro ao salvar devido a meses com datas diferentes)</li>
  <li>Erro de validação em goal_day.date</li>
</ul>

<%= form_with(model: goal, local: true) do |f| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors_on_save_message', count: goal.errors.count) %></h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :store %>
    <%= f.select :store_id, current_user.stores.order(:name).collect { |s| [s.name, s.id] }, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :month_year, t('goal.month'), class: 'block' %>
    <%= f.date_select :month_year, {discard_day: true}, class: 'form-control form-control-date' %>
  </div>

  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_field :value, id: :value, value: f.object.value.round(2), class: 'form-control' %>
  </div>
  
  <div class="callendar-wrapper">
    <div class="callendar">
      <% t('date.abbr_day_names').each do |abbr_day| %>
        <div class="callendar-day">
          <h3><%= abbr_day %></h3>
        </div>
      <% end %>
      <% f.object.build_days %>
      <% 0.upto(f.object.goal_days.first.date.wday) do %>
        <div class="callendar-day">
        </div>
      <% end %>

      <%= f.fields_for :goal_days do |ff| %>
        <div class="callendar-day">
          <%= ff.hidden_field :id %>
          <%= ff.hidden_field :day %>
          <h1><%= ff.object.day %></h1>
          
          <div class="form-group">
            <%= ff.number_field :value, value: ff.object.value.round(2), id: :value_value, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
